- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}"} Prev Page


%br
%div
    #{@total_count} Results
%br

%form{:action => "/spectra/aggregateview", :method => "get"}
    .form-group
        %label{:for => "name"} Variant
        %input.form-control{:type => "text", :name => "variant", :class => "text", :value => "#{@query_variant}", :style => "width=100%"}
        %label{:for => "aboutme"} Peptide
        %input.form-control{:type => "text", :name => "peptide", :class => "text", :value => "#{@query_peptide}"}
        %label{:for => "aboutme"} Library
        %input.form-control{:type => "text", :name => "library", :class => "text", :value => "#{@query_library}", :class => "library_input"}
        %br
        %br
        %div{:class => "form-inline"}
            %label{:for => "aboutme"} Precursor MZ
            %input.form-control{:type => "text", :name => "mz_low", :value => "#{@query_mz_low}"}
            = "-"
            %input.form-control{:type => "text", :name => "mz_high", :value => "#{@query_mz_high}"}
    %input.btn.btn-default{:type => "submit", :value => "Update Spectra"} 


%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
            %th Sequence
            %th Charge
            %th m/z
            %th Library name
    - @all_spectra.each do |spectrum|
        %tr
            %td
                %a.btn.btn-default.btm-sm.pull-right{:style=>"margin-right: 20px;", :href => "/spectrum/#{spectrum.id}"} View
            %td{:style=>"vertical-align:middle"}= spectrum.peptide
            %td{:style=>"vertical-align:middle"}= spectrum.charge
            %td{:style=>"vertical-align:middle"}= spectrum.precursor
            %td{:style=>"vertical-align:middle"}= spectrum.library.name

                
                
- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}"} Prev Page

:javascript
    all_libraries = #{@all_libraries.to_json}

    $(function() {
        $( ".library_input" ).autocomplete({
          source: all_libraries
        });
    });