- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}"} Prev Page


%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
            %th Sequence
            %th Full Pep
            %th Charge
            %th MZ
    - @library_spectra.each do |spectrum|
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/spectrum/#{spectrum.id}"} View
            %td{:style=>"vertical-align:middle"}= spectrum.unmodifiedpeptide
            %td{:style=>"vertical-align:middle"}= spectrum.peptide
            %td{:style=>"vertical-align:middle"}= spectrum.charge
            %td{:style=>"vertical-align:middle"}= spectrum.precursor
            %td{:style=>"vertical-align:middle"}= spectrum.library.name

            